<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <title>{{name}}</title>
  <script src="../assets/js/main.js" async></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />

  <meta name="theme-color" content="#2e40ff">
  <meta property="og:title" content="benji ðŸº">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://{{host}}">
  <meta property="og:description" content="am wolfo">

  <meta property="og:image" content="/assets/images/avatar.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="96x96">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon.png">


  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
  {{{body}}}
</body>


</html>
